@import url('https://fonts.googleapis.com/css?family=Anton|Open+Sans');

section {
  padding-top: 80px;
  padding-bottom: 90px;
}

h1, h2 {
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
}

p {
  font-family: 'Open Sans', sans-serif;
  line-height: 2.25em;
}

.basic-button-light {
  border: 2px solid white;
  border-radius: 6px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25em;
  padding: 10px 20px;
  text-transform: uppercase;
}

.light {
  color: #f1f1f1;
}

.hero {
  background-image: url('../img/red-door-hero-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 100px;
}

.hero-signature {
  margin-top: 200px;
  width: 260px;
}

.hero-heading {
  font-family: 'Anton', sans-serif;
  font-size: 5em;
  padding-bottom: 14px;
  text-transform: uppercase;
}

.hero-text {
  border-top: 4px solid black;
  color: #darkgray;
  padding-top: 20px;
}

.red-door-red {
  color: red;
}

.section-speaking {
  background-color: red;
}

.section-tools {
  background-color: red;
  text-align: center;
}

.speaking-image-collapse {
  height: 400px;
  background-position: -250px -120px;
}

@media (min-width: 768px) {
  .speaking-image-collapse {
    height: 500px;
    background-position: -60px -60px;
  }
}

@media (min-width: 992px) {
  .speaking-image-collapse {
    height: 600px;
    background-position: -200px -60px;
  }
}

@media (min-width: 1200px) {
  .speaking-image-collapse {
    height: 600px;
    background-position: -160px -60px;
  }
}
