@import url('https://fonts.googleapis.com/css?family=Anton|Open+Sans');

section {
  padding-top: 40px;
  padding-bottom: 50px;
}

h1, h2 {
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25em;
  margin-top: 0;
}

p {
  font-family: 'Open Sans', sans-serif;
  line-height: 2.25em;
  margin-top: 30px;
}

.center {
  text-align: center;
}

.basic-button-light {
  border: 2px solid white;
  border-radius: 6px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25em;
  padding: 10px 20px;
  text-transform: uppercase;
}

.light {
  color: #f1f1f1;
}

.hero {
  /*background-image: url('../img/red-door-hero-bg.jpg');*/
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 20%, rgb(255, 255, 255) 100%), url('../img/red-door-hero-bg.jpg') no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  padding-bottom: 100px;
}

.hero-signature {
  margin-top: 100px;
  width: 200px;
}

.hero-heading {
  font-family: 'Anton', sans-serif;
  font-size: 3em;
  text-transform: uppercase;
}

.hero-text {
  border-top: 1px solid black;
  color: #darkgray;
  padding-top: 30px;
}

.red-door-red {
  color: red;
}

.section-speaking {
  background: #000212; /* Old browsers */
  background: -moz-linear-gradient(45deg, #000212 0%, #be2025 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #000212 0%,#be2025 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #000212 0%,#be2025 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.section-tools {
  background: linear-gradient(45deg, rgba(0,2,18,0.9) 0%,rgba(190,32,37,0.9) 100%), url('../img/KBM-kaymphoto-80-bw.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.section-form {
  background: #ed245f; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #ed245f 0%, #be2025 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #ed245f 0%,#be2025 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #ed245f 0%,#be2025 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.section-testimonials {
  background: #633637; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #633637 0%, #270e14 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #633637 0%,#270e14 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #633637 0%,#270e14 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.quote-box {
  background-color: #832c2c;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

p.quote {
  line-height: 1.5em;
  margin-top: 0;
  padding-bottom: 20px;
}

.form-box {
  border: 1px solid white;
  padding: 40px;
}

.speaking-image-collapse {
  height: 400px;
  background-position: -250px -120px;
}

.author-image-collapse {
  height:400px;
  background-position: top right;
}

@media (min-width: 768px) {
  section {
    padding-top: 80px;
    padding-bottom: 90px;
  }
  .hero {
    /*background-image: url('../img/red-door-hero-bg.jpg');*/
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgb(255, 255, 255) 100%), url('../img/red-door-hero-bg.jpg') no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    padding-bottom: 100px;
  }
  .hero-signature {
    margin-top: 200px;
    width: 260px;
  }
  .hero-heading {
    font-size: 5em;
  }
  .speaking-image-collapse {
    height: 500px;
    background-position: -60px -60px;
  }
  .author-image-collapse {
    height:640px;
  }
}

@media (min-width: 992px) {
  .speaking-image-collapse {
    height: 600px;
    background-position: -200px -60px;
  }
}

@media (min-width: 1200px) {
  .speaking-image-collapse {
    height: 600px;
    background-position: -160px -60px;
  }
}
